
<mat-toolbar class="toolbar">
    <h1 class="header">Leaderboard</h1>
</mat-toolbar>
<div class="leaderboard-container">
    <div class="controls">
        <!--Year selector-->
        <mat-form-field appearance="outline" class="year-selector">
            <mat-label>Year</mat-label>
            <mat-select [(value)]="selectedYear" (selectionChange)="loadLeaderboard(selectedYear)">
                <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
            </mat-select>
        </mat-form-field>
        <!--Stat type toggle-->
        <mat-button-toggle-group class="stat-toggle" [(value)]="selectedStatType" (change)="updateStatType($event.value)">
            <mat-button-toggle value="batting">Batting</mat-button-toggle>
            <mat-button-toggle value="pitching">Pitching</mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <div class="table-container">
        <!--Search field-->
        <mat-form-field>
            <mat-label>Search for a player</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Bobby Witt, Jr." #input>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <!--BATTING TABLE-->
            <ng-container *ngIf="selectedStatType === 'batting'">
                <!--Rank Column-->
                <ng-container matColumnDef="rank">
                    <th mat-header-cell *matHeaderCellDef>#</th>
                    <td mat-cell *matCellDef="let player; let i = index">{{ i + 1 }}</td>
                </ng-container>

                <!--Player column-->
                <ng-container matColumnDef="player">
                    <th mat-header-cell *matHeaderCellDef>Player</th>
                    <td mat-cell *matCellDef="let player">
                        <a [routerLink]="['/player', player.player.id]">{{ player.player.name_use || player.player.name_first }} {{ player.player.name_last }}</a>
                    </td>
                </ng-container>

                <!--Team column-->
                <ng-container matColumnDef="org_abbreviation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Team</th>
                    <td mat-cell *matCellDef="let player">{{ player.org_abbreviation }}</td>
                </ng-container>

                <!--League column-->
                <ng-container matColumnDef="league">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>League</th>
                    <td mat-cell *matCellDef="let player">{{ player.league }}</td>
                </ng-container>

                <!--Games column-->
                <ng-container matColumnDef="games">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Games" mat-sort-header>G</th>
                    <td mat-cell *matCellDef="let player">{{ player.games }}</td>
                </ng-container>

                <!--At Bats column-->
                <ng-container matColumnDef="at_bats">
                    <th mat-header-cell *matHeaderCellDef matTooltip="At Bats" mat-sort-header>AB</th>
                    <td mat-cell *matCellDef="let player">{{ player.at_bats }}</td>
                </ng-container>

                <!--Runs column-->
                <ng-container matColumnDef="runs">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Runs" mat-sort-header>R</th>
                    <td mat-cell *matCellDef="let player">{{ player.runs }}</td>
                </ng-container>

                <!--Hits column-->
                <ng-container matColumnDef="hits">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Hits" mat-sort-header>H</th>
                    <td mat-cell *matCellDef="let player">{{ player.hits }}</td>
                </ng-container>

                <!--Doubles column-->
                <ng-container matColumnDef="doubles">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Doubles" mat-sort-header>2B</th>
                    <td mat-cell *matCellDef="let player">{{ player.doubles }}</td>
                </ng-container>

                <!--Triples column-->
                <ng-container matColumnDef="triples">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Triples" mat-sort-header>3B</th>
                    <td mat-cell *matCellDef="let player">{{ player.triples }}</td>
                </ng-container>

                <!--Home runs column-->
                <ng-container matColumnDef="home_runs">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Home Runs" mat-sort-header>HR</th>
                    <td mat-cell *matCellDef="let player">{{ player.home_runs }}</td>
                </ng-container>

                <!--Bases on balls column-->
                <ng-container matColumnDef="bases_on_balls">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Walks" mat-sort-header>BB</th>
                    <td mat-cell *matCellDef="let player">{{ player.bases_on_balls }}</td>
                </ng-container>

                <!--Strikeouts column-->
                <ng-container matColumnDef="strikeouts">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Strikeouts" mat-sort-header>SO</th>
                    <td mat-cell *matCellDef="let player">{{ player.strikeouts }}</td>
                </ng-container>

                 <!--Sacrifices column-->
                 <ng-container matColumnDef="sacrifices">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Sacrifices" mat-sort-header>SAC</th>
                    <td mat-cell *matCellDef="let player">{{ player.sacrifices }}</td>
                </ng-container>

                 <!--Sacrifice flies column-->
                 <ng-container matColumnDef="sacrifice_flies">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Sacrifice Flies" mat-sort-header>SF</th>
                    <td mat-cell *matCellDef="let player">{{ player.sacrifice_flies }}</td>
                </ng-container>

                <!--Stolen bases column-->
                <ng-container matColumnDef="stolen_bases">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Stolen Bases" mat-sort-header>SB</th>
                    <td mat-cell *matCellDef="let player">{{ player.stolen_bases }}</td>
                </ng-container>

                <!--Caught stealing column-->
                <ng-container matColumnDef="caught_stealing">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Caught Stealing" mat-sort-header>CS</th>
                    <td mat-cell *matCellDef="let player">{{ player.caught_stealing }}</td>
                </ng-container>

                <!--Batting average column-->
                <ng-container matColumnDef="avg">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Batting Average = Hits / At Bats" mat-sort-header>AVG</th>
                    <td mat-cell *matCellDef="let player">{{ player.avg }}</td>
                </ng-container>

                <!--Slugging percentage column-->
                <ng-container matColumnDef="slg">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Slugging Percentage = Total Bases / At Bats" mat-sort-header>SLG</th>
                    <td mat-cell *matCellDef="let player">{{ player.slg }}</td>
                </ng-container>
            </ng-container>

            
            <!--PITCHING TABLE-->
            <ng-container *ngIf="selectedStatType === 'pitching'">
                <!--Rank Column-->
                <ng-container matColumnDef="rank">
                    <th mat-header-cell *matHeaderCellDef>#</th>
                    <td mat-cell *matCellDef="let player; let i = index">{{ i + 1 }}</td>
                </ng-container>

                <!--Player column-->
                <ng-container matColumnDef="player">
                    <th mat-header-cell *matHeaderCellDef>Player</th>
                    <td mat-cell *matCellDef="let player">
                        <a [routerLink]="['/player', player.player.id]">{{ player.player.name_use || player.player.name_first }} {{ player.player.name_last }}</a>
                    </td>
                </ng-container>

                <!--Team column-->
                <ng-container matColumnDef="org_abbreviation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Team</th>
                    <td mat-cell *matCellDef="let player">{{ player.org_abbreviation }}</td>
                </ng-container>

                <!--League column-->
                <ng-container matColumnDef="league">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>League</th>
                    <td mat-cell *matCellDef="let player">{{ player.league }}</td>
                </ng-container>

                <!--Games column-->
                <ng-container matColumnDef="games">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Games" mat-sort-header>G</th>
                    <td mat-cell *matCellDef="let player">{{ player.games }}</td>
                </ng-container>

                <!--Games started column-->
                <ng-container matColumnDef="games_started">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Games Started" mat-sort-header>GS</th>
                    <td mat-cell *matCellDef="let player">{{ player.games_started }}</td>
                </ng-container>

                <!--Complete games column-->
                <ng-container matColumnDef="complete_games">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Complete Games" mat-sort-header>CG</th>
                    <td mat-cell *matCellDef="let player">{{ player.complete_games }}</td>
                </ng-container>

                <!--Games finished column-->
                <ng-container matColumnDef="games_finished">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Games Finished" mat-sort-header>GF</th>
                    <td mat-cell *matCellDef="let player">{{ player.games_finished }}</td>
                </ng-container>

                <!--Innings pitched column-->
                <ng-container matColumnDef="innings_pitched">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Innings Pitched" mat-sort-header>IP</th>
                    <td mat-cell *matCellDef="let player">{{ player.innings_pitched }}</td>
                </ng-container>

                <!--Wins column-->
                <ng-container matColumnDef="wins">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Wins" mat-sort-header>W</th>
                    <td mat-cell *matCellDef="let player">{{ player.wins }}</td>
                </ng-container>

                <!--Losses column-->
                <ng-container matColumnDef="losses">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Losses" mat-sort-header>L</th>
                    <td mat-cell *matCellDef="let player">{{ player.losses }}</td>
                </ng-container>
                
                <!--Saves column-->
                <ng-container matColumnDef="saves">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Saves" mat-sort-header>SV</th>
                    <td mat-cell *matCellDef="let player">{{ player.saves }}</td>
                </ng-container>

                <!--Total batters faced column-->
                <ng-container matColumnDef="total_batters_faced">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Total Batters Faced" mat-sort-header>TBF</th>
                    <td mat-cell *matCellDef="let player">{{ player.total_batters_faced }}</td>
                </ng-container>

                <!--At bats column-->
                <ng-container matColumnDef="at_bats">
                    <th mat-header-cell *matHeaderCellDef matTooltip="At Bats" mat-sort-header>AB</th>
                    <td mat-cell *matCellDef="let player">{{ player.at_bats }}</td>
                </ng-container>

                <!--Hits column-->
                <ng-container matColumnDef="hits">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Hits" mat-sort-header>H</th>
                    <td mat-cell *matCellDef="let player">{{ player.hits }}</td>
                </ng-container>

                <!--Doubles column-->
                <ng-container matColumnDef="doubles">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Doubles" mat-sort-header>2B</th>
                    <td mat-cell *matCellDef="let player">{{ player.doubles }}</td>
                </ng-container>

                <!--Triples column-->
                <ng-container matColumnDef="triples">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Triples" mat-sort-header>3B</th>
                    <td mat-cell *matCellDef="let player">{{ player.triples }}</td>
                </ng-container>

                <!--Home runs column-->
                <ng-container matColumnDef="home_runs">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Home Runs" mat-sort-header>HR</th>
                    <td mat-cell *matCellDef="let player">{{ player.home_runs }}</td>
                </ng-container>

                <!--Bases on balls column-->
                <ng-container matColumnDef="bases_on_balls">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Walks" mat-sort-header>BB</th>
                    <td mat-cell *matCellDef="let player">{{ player.bases_on_balls }}</td>
                </ng-container>

                <!--Strikeouts column-->
                <ng-container matColumnDef="strikeouts">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Strikeouts" mat-sort-header>SO</th>
                    <td mat-cell *matCellDef="let player">{{ player.strikeouts }}</td>
                </ng-container>

                 <!--Whip column-->
                 <ng-container matColumnDef="whip">
                    <th mat-header-cell *matHeaderCellDef matTooltip="WHIP = (Walks + Hits) / Innings Pitched" mat-sort-header>WHIP</th>
                    <td mat-cell *matCellDef="let player">{{ player.whip }}</td>
                </ng-container>

                <!--Batting average against column-->
                <ng-container matColumnDef="avg">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Batting Average Against" mat-sort-header>BAA</th>
                    <td mat-cell *matCellDef="let player">{{ player.avg }}</td>
                </ng-container>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <!--Pagination-->
        <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
    </div>
</div>