.header {
    padding-left: 30px;
    color: white;
    font-size: larger;
  }
  .toolbar {
    background-color: #004687;
  }
  .menu-button {
    color: white;
    background-color: #004687;
  }

  .player-card {
    max-width: 300px;
    border-radius: 8px;
    margin: 30px;
    overflow: hidden;
  }
  .stat-card {
    margin: 30px;
    overflow-x: auto;
    border-radius: 8px;
    padding: 0;
    position: relative;
  }

  .stat-card-header, .profile-card-header {
    background-color: #004687;
    color: white;
    padding-bottom: 8px;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  

  .profile-card-content {
    padding: 2px 0;
    font-size: 16px;
  }

  .stat-card-content {
    padding: 0;
    overflow-x: auto;
  }
 
  

  
  
