.header {
    padding-left: 30px;
    color: white;
    font-size: larger;
  }
  .toolbar {
    background-color: #004687;
  }

  .back-button {
    padding-left: 30px;
    padding-top: 12px;
  }
  .player-card {
    max-width: 300px;
    border-radius: 8px;
    margin: 30px;
    overflow: hidden;
  }
  .stat-card {
    margin: 30px;
    overflow-x: auto;
    border-radius: 8px;
    padding: 0;
    position: relative;
  }

  .stat-card-header, .profile-card-header {
    background-color: #004687;
    color: white;
    padding-bottom: 8px;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  

  .profile-card-content {
    padding: 2px 0;
    font-size: 16px;
  }

  .stat-card-content {
    padding: 0;
    overflow-x: auto;
  }
 

  .line-chart-card1 {
    margin-left: 30px;
    overflow-x: auto;
    border-radius: 8px;
    padding: 0;

  }
  .line-chart-card2 {
    margin-right: 30px;
    overflow-x: auto;
    border-radius: 8px;
    padding: 0;

  }
  .chart-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding-bottom: 80px;
}


  
  
